<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div align="center">
    <form method="post" th:action="@{/user/login}">
        <span>用户：</span>
        <input name="username" type="text"><br>
        <span>密码：</span>
        <input name="password" type="text"><br>
        <input type="submit" value="LOGIN">
    </form>
</div>
<h3 align="center" style="color: red" th:text="${msg}"></h3>
</body>
</html>