<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" href="../resource/favicon.ico" th:href="@{/static/favicon.ico}"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table width="50%" border="1" >
        <tr>
            <th >name</th>
            <th>sex</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getSex()}"></td>
            <td>
                <a th:href="@{/user/preUpdateUser(id=${user.id})}">update</a>
                <a th:href="@{/user/deleteUser(id=${user.id})}">delete</a>
            </td>
        </tr>
    </table>
</body>
</html>